@media (min-width: 600px) {
  .container {
    color: white;
    font-family: "ironFist";
    font-size: 2.5vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 12.5vh);
  }

  .character-image {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
  }

  .character-image img {
    width: 25vw;
  }

  .character-name-label {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    color: rgb(230, 28, 35);
    font-family: "marvel";
    text-transform: uppercase;
    font-size: 4vh;
  }

  .character-name {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .character-comics-label {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
    color: rgb(230, 28, 35);
    font-family: "marvel";
    text-transform: uppercase;
    font-size: 4vh;
  }

  .character-comics {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .character-description-label {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    align-self: flex-end;
    color: rgb(230, 28, 35);
    font-family: "marvel";
    text-transform: uppercase;
    font-size: 4vh;
  }

  .character-description {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 9;
    padding-top: 2vh;
  }

  .comma-separated:not(:first-child):before {
    content: ", ";
  }

  .back-to-list {
    color: rgb(230, 28, 35);
    font-family: "marvel";
    text-transform: uppercase;
    font-size: 5vh;
    align-self: center;
    justify-self: center;
    cursor: pointer;
  }

  .mobile {
    display: none;
  }
}

@media (max-width: 599px) {
  .mobile {
    display: block;
    position: fixed;
    padding: 0;
    margin: 0;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: rgb(230, 28, 35);
    font-family: "marvel";
    text-transform: uppercase;
    font-size: 4vh;
  }
}
