body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Marvel";
  src: local("Marvel"), url(./fonts/marvel.ttf) format("truetype");
}

@font-face {
  font-family: "Avengance";
  src: local("Avengance"), url(./fonts/avengance.ttf) format("truetype");
}

@font-face {
  font-family: "avengero";
  src: local("avengero"), url(./fonts/avengero.ttf) format("truetype");
}

@font-face {
  font-family: "ironFist";
  src: local("ironFist"), url(./fonts/ironFist.ttf) format("truetype");
}
